:root{
  --mainBlue:#a7e9e6;
  --lightBlue:rgb(194, 245, 248);
  --mainWhite: rgb(245, 252, 255);
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #ffa400;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title{
  font-family: 'Oswald', 'cursive';
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
  
}

.form-div {
  position: center;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%
}

.login_background {
  background-image: url("http://kickstq.com/files/9714/6884/0975/jordan-circle-IMG_8697.JPG");
  background-position: bottom;
  background-size: 85%; 
  height: 100vh;
  background-repeat: no-repeat;
}

/* https://images.pexels.com/photos/2421374/pexels-photo-2421374.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 */

